{%extends 'base.html.twig'%}

{%block title%}
Boucle
{%endblock%}

{%block stylesheets%}
{{parent()}}
{%endblock%}

{%block body%}
<div class="container">
    <h1>Ici on apprend les boucles</h1>
</div>
{%endblock%}